<ion-content>
  <div class="card_layout">
    <h4 class="ion-margin">Mandatory Parameters</h4>
    <ion-list *ngFor="let rec of data| async">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Asset ID</ion-col>
            <ion-col>{{rec.AssetId}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Asset Type</ion-col>
            <ion-col>{{rec.AssetType}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Procurement(mm-dd-yyyy)</ion-col>
            <ion-col>{{rec.Procurement}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Currency</ion-col>
            <ion-col>{{rec.Currency}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Depreciation(%)</ion-col>
            <ion-col>{{rec.Depreciation}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Criticality</ion-col>
            <ion-col>{{rec.Criticality}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>AMC/Warranty</ion-col>
            <ion-col *ngIf="rec?.AmcOrWarranty==1; else elsePerfId">AMC</ion-col>
            <ng-template #elsePerfId>
              <ion-col>Warranty</ion-col>
            </ng-template>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>PO Number</ion-col>
            <ion-col>{{rec.PoNo}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Quantity</ion-col>
            <ion-col>{{rec.Quantity}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Bulk Status</ion-col>
            <ion-col>{{rec.Bulk}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Working Status</ion-col>
            <ion-col>{{rec.Working}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Cost</ion-col>
            <ion-col>{{rec.Cost}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    </ion-list>
    <!--ion-item>
      <ion-label>Asset ID: BMS/ODC1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Asset Type: BMS System</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Procurement Date(mm-dd-yyy): 7/2/2004</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Currency : INR</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Depreciation(%): 20</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Criticality: 3(Moderate)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>AMC Status/Warranty: AMC</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Item PO Number: DEFAULT_PO_NO_8</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Quantity: 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bulk Status: TRUE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Working Status: TRUE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cost: 8614372</ion-label>
    </ion-item-->&nbsp;
    <h4 class="ion-margin">Variable Parameters</h4>
    <ion-list *ngFor="let rec of varData| async">
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>{{rec.parParameterName}}</ion-col>
              <ion-col>{{rec?.linkItemParamValue || 'null'}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <!--ion-item>
      <ion-label>Brand: null</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Capacity: null</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Make: null</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Model: null</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Type: null</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Unit Serial Number: null</ion-label>
    </ion-item-->
  </div>
</ion-content>
