<ion-content>
  <div class="card_layout">
    <h4 class="ion-margin">Mandatory Parameters</h4>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Asset ID</ion-col>
            <ion-col>BMS/ODC1</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Asset Type</ion-col>
            <ion-col>BMS System</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Procurement (mm-dd-yyyy)</ion-col>
            <ion-col>7/2/2004</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Currency</ion-col>
            <ion-col>INR</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Depreciation(%)</ion-col>
            <ion-col>20</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Criticality</ion-col>
            <ion-col>3(Moderate)</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>AMC/Warranty</ion-col>
            <ion-col>AMC</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>PO Number</ion-col>
            <ion-col>DEFAULT_PO_NO_8</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Quantity</ion-col>
            <ion-col>1</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Bulk Status</ion-col>
            <ion-col>True</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Working Status</ion-col>
            <ion-col>True</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Cost</ion-col>
            <ion-col>1223321</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <!--ion-item>
      <ion-label>Asset ID: BMS/ODC1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Asset Type: BMS System</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Procurement Date(mm-dd-yyy): 7/2/2004</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Currency : INR</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Depreciation(%): 20</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Criticality: 3(Moderate)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>AMC Status/Warranty: AMC</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Item PO Number: DEFAULT_PO_NO_8</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Quantity: 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bulk Status: TRUE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Working Status: TRUE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cost: 8614372</ion-label>
    </ion-item-->&nbsp;
    <h4 class="ion-margin">Variable Parameters</h4>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Brand</ion-col>
            <ion-col>null</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Capacity</ion-col>
            <ion-col>null</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Make</ion-col>
            <ion-col>null</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Model</ion-col>
            <ion-col>null</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Type</ion-col>
            <ion-col>null</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Unit Serial Number</ion-col>
            <ion-col>null</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>&nbsp;
    <!--ion-item>
      <ion-label>Brand: null</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Capacity: null</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Make: null</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Model: null</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Type: null</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Unit Serial Number: null</ion-label>
    </ion-item-->
  </div>
</ion-content>
