<ion-header>
  <ion-toolbar>
    <ion-title>Asset Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card_layout">
    <ion-card>
      <ion-card-header class="background_color">
        <ion-label color="white">Asset Id</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>PQ Number: DJKJDSKD123</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>Procurement Date: 23/23/1222</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">Item Type</ion-col>
            <ion-col class="ion-text-center">Cost</ion-col>
            <ion-col class="ion-text-center">Level</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">SSDDS</ion-col>
            <ion-col class="ion-text-center">78884</ion-col>
            <ion-col class="ion-text-center">3</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
