<ion-header>
  <ion-toolbar>
    <ion-title>Assets</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-margin" (click)="showScanner()">
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<super-tabs>
  <super-tabs-toolbar slot="top" class="super-tab-color" color="blue">
    <super-tab-button>
      <ion-label>Asset</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Amc/Warranty</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Pm</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab>
      <ion-content>
          <ion-nav [root]="assets"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="viewAmc"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="managePm"></ion-nav>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>