<ion-content class="login-background">
  <div class="list">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-input placeholder="User Id" [(ngModel)]="userId"></ion-input>
      </ion-item>
      <ion-item *ngIf="!showSuper">
        <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="showSuper">
        <ion-input placeholder="Super User Id" [(ngModel)]="superUserId"></ion-input>
      </ion-item>
      <ion-item *ngIf="showSuper">
        <ion-input id="super" placeholder="Super User Password" [(ngModel)]="superUserPassword"></ion-input>
      </ion-item>
      <ion-item lines="none" style="margin-left: 30px;">
      <ion-checkbox (click)="checkBoxClicked()">
      </ion-checkbox>
      <ion-label color="soft-grey">Super User Emulation</ion-label>
      </ion-item>
    </ion-list>
    <div class="ion-text-center">
      <ion-button (click)="login()">Log In</ion-button>
    </div>
  </div>
</ion-content>
