<ion-content>
  <div style="padding-top: 20px;padding-bottom: 20px;">
    <ion-searchbar type="text" id="search" placeholder="Search PO Number" [(ngModel)]="filter"></ion-searchbar>
  </div>
  <ion-item>
      <ion-row>
        <ion-col>
          <ion-item lines="none" (click)="showAMCOnly()">
            <ion-icon name="square" class="amc_icon_color" color="blue"></ion-icon>
            <ion-label>&nbsp;AMC</ion-label>
          </ion-item>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
          <ion-item lines="none" (click)="showWarrantyOnly()">
            <ion-icon name="square" class="warranty_icon_color" color="violet"></ion-icon>
            <ion-label>&nbsp;Warranty</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
  </ion-item>
  &nbsp;&nbsp;
  <div class="card_layout">
    <div *ngIf="showAMC">
      <ion-card *ngFor="let rec of allAmc | filter: filter">
        <ion-card-header class="amc_color">
          <div class="ion-text-center">
            <ion-label color="white">{{rec.Po_no}}</ion-label>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>Start</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>End</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>Cost</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.Start}}</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.End}}</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.Cost}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>&nbsp;
    <div *ngIf="showWarranty">
      <ion-card *ngFor="let rec of allWarranty | filter: filter">
        <ion-card-header class="warranty_color">
          <div class="ion-text-center">
            <ion-label color="white">{{rec.Po_no}}</ion-label>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>Start</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>End</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>Cost</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.Start}}</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.End}}</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.Cost}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>&nbsp;
    </div>
  </div>
</ion-content>
