<ion-content>
  <div class="col-sm-5" style="padding-top: 20px;padding-bottom: 20px;">
    <ion-searchbar class="form-control" type="text" placeholder="Search........." [(ngModel)]="filter"></ion-searchbar>
  </div>
  <ion-item class="ion-no-margin">
    <ion-row>
      <ion-col>
        <ion-item lines="none" (click)="showCompletedOnly()" class="ion-no-margin ion-no-padding">
          <ion-icon name="square" class="completed_icon_color" color="blue"></ion-icon>
          <ion-label>&nbsp;Complete</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none" (click)="showNotCompletedOnly()" class="ion-no-margin ion-no-padding">
          <ion-icon name="square" class="not_completed_icon_color" color="green"></ion-icon>
          <ion-label>&nbsp;Not Complete</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-item>
  &nbsp;&nbsp;
  <div class="card_layout">
    <div *ngIf="showCompleted">
      <ion-card *ngFor="let rec of allComplete | filter:filter">
        <ion-card-header class="completed_color">
          <div class="ion-text-center">
            <ion-label color="white">{{rec.Po_no}}</ion-label>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-float-left">Extra Cost: {{rec.ExtraCost}}</ion-col>
              <ion-col class="ion-float-right">Comments: {{rec.Comments}}</ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>Start</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>End</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>Service</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.Start}}</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.End}}</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.Service}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-float-left">Status: {{rec.Status}}</ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-float-left">Actions:&nbsp;
                <ion-button class="completed_color" tooltip="Download" placement="top" show-delay="50"><ion-icon name="download"></ion-icon></ion-button>&nbsp;
                <ion-button class="completed_color" tooltip="Send" placement="top" show-delay="50"><ion-icon name="send"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>&nbsp;
    <div *ngIf="showNotCompleted">
      <ion-card *ngFor="let rec of allNotComplete | filter: filter">
        <ion-card-header class="not_completed_color">
          <div class="ion-text-center">
            <ion-label color="white">{{rec.Po_no}}</ion-label>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-float-left">Extra Cost: {{rec.ExtraCost}}</ion-col>
              <ion-col class="ion-float-right">Comments: {{rec.Comments}}</ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>Start</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>End</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>Service</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.Start}}</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.End}}</ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-center">
                  <ion-label>{{rec.Service}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-float-left">Status: {{rec.Status}}</ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-float-left">Actions:
                <ion-button class="not_completed_color"><ion-icon name="download"></ion-icon></ion-button>
                <ion-button class="not_completed_color"><ion-icon name="send"></ion-icon></ion-button>
                <ion-button class="not_completed_color" (click)="presentModal(rec.Po_no)"><ion-icon name="create"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>&nbsp;&nbsp;
  </div>
</ion-content>
