ion-toolbar{
    --background: #5680e9;
}

ion-title, ion-button{
    color: #ffffff;
}

.profile {
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: pre-line;
    width: 100%;
    padding-top: 5px;
    height: 300px;
}

.profile .name {
    color: #FFFFFF;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.profile-picture {
    width: 50%;
    height: 50%;
    border-radius: 40%;
}

.role {
    margin-top: 5%;
    display: inline-block;
}

.icon{
  color: #000000;
  font-size: 25px;
  display: inline-block;
}
.text{
  display: inline-block;
  vertical-align: center;
}



