<ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
        <ion-header>
            <ion-toolbar>
                <ion-title>EquipMax</ion-title>

            </ion-toolbar>
        </ion-header>
        <br>

        <ion-content>
            <ion-list>
                <div>
                        <div class="profile">
                            <img class="profile-picture" [src]=this.listService.img />
                            <h4 *ngIf="this.listService.gotData !== false">{{this.listService.userName}}</h4>
                            <ion-item lines="none">
                                <ion-label>{{this.listService.role}}</ion-label>
                                <ion-button (click)="switchRole()">Switch</ion-button>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-label>{{this.listService.location}}</ion-label>
                                <ion-button (click)="showAlert()">Show</ion-button>
                            </ion-item>
                        </div>
                </div>
            </ion-list>

            <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                    <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                        <ion-icon slot="start" [name]="p.icon"></ion-icon>
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>Log out</ion-label>
                    <ion-button (click)="logOut()"><ion-icon name="arrow-dropright"></ion-icon></ion-button>
                </ion-item>

            </ion-list>

        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>