<ion-header>
  <ion-toolbar>
    <ion-title>PO Management</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<super-tabs>
  <super-tabs-toolbar slot="top" class="super-tab-color" color="blue">
    <super-tab-button>
      <ion-label>Schedule PM</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Manage PM</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab>
      <ion-content>
        <ion-nav [root]="schedulePM"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="managePM"></ion-nav>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>
