<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="showTitle">Assets</ion-title>

        <label for="srchId" *ngIf="!showTitle">
            <input type="text" id="srchId" class="form-control" placeholder="Asset Id" [(ngModel)]="term" name="search">
        </label>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end" (click)="srchBtn()">
            <ion-icon name="search"></ion-icon>&nbsp;&nbsp;
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
    <ng-container *ngFor="let rec of items | filter: term">
        <div class="card">
            <ion-card (click)="showAssetInfo(rec.assetid)">
                <ion-card-header class="card_color">
                    <div class="ion-text-center">
                        <ion-label>{{rec.assetid}}</ion-label>
                    </div>
                </ion-card-header>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                PO Number - {{rec.poNumber}}
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="rec.layer; else not">
                            <ion-col>
                                Location - {{rec.location}}<br>{{rec.building}}<br>{{rec.layer}}
                            </ion-col>
                        </ion-row>
                        <ng-template #not>
                            <ion-row>
                                <ion-col>
                                    Location - {{rec.location}}<br>{{rec.building}}
                                </ion-col>
                            </ion-row>
                        </ng-template>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </div>
    </ng-container>
</ion-content>
