<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="12">
            <div id="test">
                <ul id="myUL">
                    <li><span class="caret">Beverages</span>
                        <ul class="nested">
                            <li>Water</li>
                            <li>Coffee</li>
                            <li><span class="caret">Tea</span>
                                <ul class="nested">
                                    <li>Black Tea</li>
                                    <li>White Tea</li>
                                    <li><span class="caret">Green Tea</span>
                                        <ul class="nested">
                                            <li>Sencha</li>
                                            <li>Gyokuro</li>
                                            <li>Matcha</li>
                                            <li>Pi Lo Chun</li>
                                            <li><span class="caret">Green Tea</span>
                                                <ul class="nested">
                                                    <li>Sencha</li>
                                                    <li>Gyokuro</li>
                                                    <li>Matcha</li>
                                                    <li>Pi Lo Chun</li>
                                                    <li><span class="caret">Green Tea</span>
                                                        <ul class="nested">
                                                            <li>Sencha</li>
                                                            <li>Gyokuro</li>
                                                            <li>Matcha</li>
                                                            <li>Pi Lo Chun</li>
                                                            <li><span class="caret">Green Tea</span>
                                                                <ul class="nested">
                                                                    <li>Sencha</li>
                                                                    <li>Gyokuro</li>
                                                                    <li>Matcha</li>
                                                                    <li>Pi Lo Chun</li>
                                                                    <li><span class="caret">Green Tea</span>
                                                                        <ul class="nested">
                                                                            <li>Sencha</li>
                                                                            <li>Gyokuro</li>
                                                                            <li>Matcha</li>
                                                                            <li>Pi Lo Chun</li>
                                                                            <li><span class="caret">Green Tea</span>
                                                                                <ul class="nested">
                                                                                    <li>Sencha</li>
                                                                                    <li>Gyokuro</li>
                                                                                    <li>Matcha</li>
                                                                                    <li>Pi Lo Chun</li>
                                                                                    <li></li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><br></li>
                    <li><span class="lt">Testing</span></li>
                </ul>
            </div>
        </ion-col>
    </ion-row>

</ion-content>