ion-toolbar {
    --background: #5680e9;
}

ion-title,
ion-label,
ion-buttons {
    color: #ffffff;
    text-align: center;
}

#cd {
    padding: 10px;
}

#hd {
    background-color: rgb(157, 157, 230);
    opacity: 0.8;
    border-radius: 5px;
    margin-bottom: 10px;
}

#bx {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 3px 3px 23px -4px rgba(0, 0, 0, 0.79);
    border-style: solid;
    border-color: rgb(162, 162, 221);
    border-width: thin;
    border-radius: 5px;
}

#srchId2 {
    border-radius: 5px;
    display: none;
}