<ion-content class="pm-background">
  <div class="list">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-input placeholder="PO Number" [(ngModel)]="poNo" value="{{poNo}}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Start Date" [(ngModel)]="start" value="{{start}}" (click)="calendar('start')" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="End Date" [(ngModel)]="end" value="{{end}}" (click)="calendar('end')" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Service Date" [(ngModel)]="service" value="{{service}}" (click)="calendar('service')" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" placeholder="Extra Cost" [(ngModel)]="extraCost" value="{{extraCost}}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Comments" [(ngModel)]="comments" value="{{comments}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Status" [(ngModel)]="status" value="{{status}}" required></ion-input>
      </ion-item>
    </ion-list>&nbsp;
    <div class="ion-text-center">
      <ion-button (click)="submit()">Submit</ion-button>
    </div>&nbsp;
    <div class="ion-text-center">
      <ion-button (click)="dismiss()">Exit</ion-button>
    </div>
  </div>
</ion-content>