<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <b>DashBoard</b>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
            <ion-row>
                       <ion-col size="3">
                           <button class="btn btn-link">Total Assets</button>
                       </ion-col>       
                
                       <ion-col size="3">
                            <button  class="btn btn-link" (click)="warPie()">AMC Due / No Due</button>
                            
                        </ion-col>
                        <ion-col size="3">
                            <button class="btn btn-link" (click)="amcPie()">Pm Pending / Pm Complete</button>
                        </ion-col>
                        <ion-col size="3">
                                <button  class="btn btn-link" (click)="noAmcPie()">Asset Breakdown / Asset Working</button>
                        </ion-col>
            </ion-row>
            
        
        <ion-row>
            <ion-col>
                <b id="chartName">Total Assets</b>
                <br>
                <div style="height: 300px">
                        <canvas id="chartContainer"></canvas>
                </div>
                
            </ion-col>
        </ion-row>
        <hr>
        
    </ion-grid>

</ion-content>