ion-searchbar {
    .searchbar-input-container {
        .searchbar-input {
            border-radius: 20px;
        }
    }
}

#test {
    background-color: red;
    width: 100px;
    height: 100px;
}